<form [formGroup]="vacancyForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <!--suppress HtmlFormInputWithoutLabel -->
    <input matInput formControlName="name">
    <mat-error *ngIf="vacancyForm.controls.name.errors?.required">
      Name is required.
    </mat-error>
    <mat-error *ngIf="vacancyForm.controls.name.errors?.minlength">
      Name must be at least 5 characters long.
    </mat-error>
  </mat-form-field>
  <br/>
  <button mat-button type="submit" (click)="createVacancy()" [disabled]="!vacancyForm.valid">Create</button>
</form>
